
@charset "UTF-8";
/* CSS Document */


h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	
}

.txt{ font-family:'Lato', sans-serif;
font-weight:1300;
color:#515355;
font-size:13px;}

.txt strong{ font-family:'Lato', sans-serif;
font-weight:300;
color:#448bd2;
font-size:13px;}
	
.txtlato ul{
	padding:3px 20px 3px 10px;
	margin:0px 0px 0px 11px;
	font-size:16px;}
	
.txtlato li{ 
	font-family:'Lato', sans-serif;
	font-weight:300;
	color:#003867;
	font-size:13px;
	line-height:22px;
	list-style-image: url(../img/mota.jpg);
	list-style-position: inside;
	padding: 5px 0px 5px 0px;/*top right btm left*/
	border-bottom:#ccc dotted 1px;}
	
.txtlato a{ 
	font-family:'Lato', sans-serif;
	color:#545151;
	font-size:13px;
	text-decoration:none;
	}
	
.txtlato a:hover{ 
	font-family:'Lato', sans-serif;
	color:#545151;
	font-size:13px;
	text-decoration: underline;
	}

	
#on{color:#003867;}
	
.txtlato li a{ 
	font-family:'Lato', sans-serif;
	color:#515355;
	font-size:13px;
	line-height:15px;
	list-style-image:url(../../barrancas/css/img/mota.jpg);
	list-style-position:inside;
	text-decoration:none;}
	
.txtlato li a:hover{color:#10728c;}

.txtlato12{ 
	font-family:'Lato', sans-serif;
	color:#515355;
	font-size:12px;
	line-height:15px;
	font-weight:300;}

.txtlato12 strong{
	color:#515355;
	font-size:12px;
	font-weight:700;}
	
.txtlato12 ul{
	margin-top:9px;
	padding-top:10px;}
	
.txtlato12 li{ 
	font-family:'Lato', sans-serif;
	color:#515355;
	line-height:14px;
	list-style-image:url(../../barrancas/css/img/mota.jpg);
	list-style-position:inside;
	margin-left:12px;	
	padding-bottom:10px;}

.btnmail a{
	font-family:'Lato', sans-serif;
	font-size:15px;
	line-height:22px;
	font-weight:800;
	color:#818081;
	}
	
.btnmail a:hover{color:#003867;}

.btnredes a{
	font-family:'Lato', sans-serif;
	font-size:14px;
	line-height:18px;
	font-weight:400;
	color:#505050;}
	
.btnredes a:hover{color:#003867;}

.btnredesch a{
	font-family:'Lato', sans-serif;
	font-size:12px;
	line-height:13px;
	font-weight:300;
	color:#505050;}
	
.btnredesch a:hover{color:#505050;}
	
	

h1{
	font-family:'Lato', serif;
	color:#756f80;
	font-size:27px;
	font-weight:300;
	line-height:32px;
	  text-rendering: optimizelegibility;}
	
h2{ 
	font-family:'Lato', serif;
	color:#756f80;
	font-size:23px;
	font-weight:100;
	line-height:28px;
	text-rendering: optimizelegibility;
	}
	
h3{ 
	font-family:'Lato', serif;
	color:#756f80;
	font-size:18px;
	font-weight:100;
	line-height:22px;
	  text-rendering: optimizelegibility;}
	
/*direccion pie es en h4*/
h4{ font-family:'Lato', serif;
	color:#818081;
	font-size:15px;
	font-weight:300;
	line-height:20px;
	  text-rendering: optimizelegibility;}
	
h5{ 
	font-family:'Lato', serif;
	color:#756f80;
	font-size:13px;
	font-weight:300;
	line-height:16px;
	  text-rendering: optimizelegibility;}

h6{ font-family:'Lato', serif;
	color:#756f80;
	font-size:12px;
	font-weight:300;
	line-height:14px;
	  text-rendering: optimizelegibility;}
	
h7{ font-family:'Lato', serif;
	color:#756f80;
	font-size:11px;
	font-weight:300;
	line-height:12px;
	  text-rendering: optimizelegibility;}

	